<div id="<%= dom_id esportes_pessoa %>">
  <div class="stats stats-vertical bg-base-300 text-primary-content">
    
    <div class="stat">
      <div class="stat-title">Esporte</div>
      <div class="stat-value"><%= esportes_pessoa.esporte_id %></div>
    </div>
    
    <div class="stat">
      <div class="stat-title">Pessoa</div>
      <div class="stat-value"><%= esportes_pessoa.pessoa_id %></div>
    </div>
    
  </div>
</div>
