<dialog class="modal">
  <div class="modal-box bg-base-300">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg text-center">Editar Pessoa</h3>
    <%= render "form", pessoa: @pessoa %>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
