<ul class="menu menu-lg menu-horizontal bg-base-200 rounded-box">
  <li class="menu-title">Tabelas</li>
  <li><a>Estados</a></li>  
  <li><a>Pessoas</a></li>
  <li><a>Documentos</a></li>
  <li><a>Esportes</a></li>
  <li><a>EsportesPessoas</a></li>
</ul>