<div id="<%= dom_id documento %>">
  <div class="stats stats-vertical bg-base-300 text-primary-content">
    
    <div class="stat">
      <div class="stat-title">Rg</div>
      <div class="stat-value"><%= documento.rg %></div>
    </div>
    
    <div class="stat">
      <div class="stat-title">Cpf</div>
      <div class="stat-value"><%= documento.cpf %></div>
    </div>

    <div class="stat">
      <div class="stat-title">Pessoa</div>
      <div class="stat-value"><%= documento.pessoa_id %></div>
    </div>
    
  </div>
</div>
