<div class="h-screen grid place-items-center z-10">
  <dialog open class="modal">
    <div class="modal-box bg-base-300">
      <h3 class="font-bold text-lg text-center">Novo</h3>
      <%= render "form", documento: @documento %>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</div>
