<dialog class="modal">
  <form method="dialog" class="modal-box bg-base-300 w-auto max-w-5xl">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    <h3 class="font-bold text-lg text-center">Mostrar Documento</h3>
    <%= render @esporte %>
  </form>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>