<div class="grid h-screen place-items-center">
  <div class="card w-96 bg-neutral text-neutral-content">
    <div class="card-body items-center text-center">
      <h2 class="card-title">Login</h3>
      <p>Como deseja visualizar as tabelas?</p>
      <%= form_with url: home_index_path, method: :get do |form| %>
        <div class="card-actions pt-4">
          <%= form.button "Usuário", class: "btn btn-primary", name: "tipo", value: "usuario" %>
          <%= form.button "Administrador", class: "btn", name: "tipo", value: "administrador" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
