<div class="grid h-screen place-items-center">
  <div class="card w-96 bg-base-300 text-neutral-content shadow-xl">
    <div class="card-body items-center text-center">
      <h2 class="card-title">Login</h3>
      <p>Como deseja visualizar as tabelas?</p>
      <div class="card-actions pt-4">
        <%= button_to "Usuário", home_user_path, method: :get, class: "btn btn-primary" %>
        <%= button_to "Administrador", home_admin_path, method: :get, class: "btn btn-outline" %>
      </div>
    </div>
  </div>
</div>
