<div id="<%= dom_id estado %>">
  <div class="stats stats-vertical bg-base-300 text-primary-content">
    
    <div class="stat">
      <div class="stat-title">Sigla</div>
      <div class="stat-value"><%= estado.sigla %></div>
    </div>
    
    <div class="stat">
      <div class="stat-title">Nome</div>
      <div class="stat-value"><%= estado.nome %></div>
    </div>
    
  </div>
</div>
